body {
    position: relative; 
    margin: 0; 
    padding: 0; 
    background-image: url("../img/principal_back.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 
}

.CB {
    display: flex;
    background-color: rgba(255, 255, 255, 0.737);
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
}

.Inicio {
    position: absolute;
    width: 390px;
    bottom: 32%;
    left: 70%;
    background: #3e3e3e; 
    border: 4px solid transparent; 
    border-image: linear-gradient(to right, #6db4d5, #75e1ba); 
    border-image-slice: 1; 
    color: white; 
    padding: 10px 20px; 
    font-size: 25px; 
    cursor: pointer; 
    border-radius: 0; 
  }
  
  .Inicio:active {
    background: #161616; 
  }

.Registro{
  position: absolute;
  width: 500px;
  bottom: 32%;
  left: 30%; 
  background: #3e3e3e;
  border: 4px solid transparent;
  border-image: linear-gradient(to left, #6db4d5, #75e1ba);
  border-image-slice: 1;
  color: white;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 0;
}

.Registro:active {
  background: #161616;
}

.container {
  position: absolute;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.567); 
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 24%;
  left: 70%;
  width: 350px; 
  height: 600px;
  text-align: center;
  margin-bottom: 20px
}

.registro {
  margin-bottom: 20px; 
}

label {
  display: block; 
  margin-bottom: 5px; 
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #3e3e3e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

.olvidar-contrasena {
  text-align: center; 
  margin-top: 20px; 
}

p {
  color: #3e3e3e; 
  text-decoration: underline; 
  cursor: pointer; 
}

p:hover {
  color: #000000; 
}

.std{
  position: absolute;
  top: 30%;
  left: -10%;
  z-index: 3;
}

.pc{
  position: absolute;
  top: 64%;
  left: 42%;
  z-index: 2;
}

.Log{
  transform: scale(2);
  position: relative;
  left: 60px;
}
.CB2{
  position: absolute;
  border-radius: 5px;
  top: 24%;
  left: 2%;
  background-color: rgba(255, 255, 255, 0.79);
  height: 85%;
  width: 66%;
  z-index: 1;
}

#slog{
  text-align: center;
  position: absolute;
  font-size: 40px;
  right: 44px; 
  top: 2%;
  text-decoration: none;
  cursor: auto;
}

#fin{
  text-align: center;
  position: absolute;
  font-size: 20px;
  right: 44px; 
  top: 35%;
  text-decoration: none;
  cursor: auto;
}
